/* =========================
   RESET
========================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* =========================
   BODY
========================= */

body{
    background:#000;
    color:#fff;

    font-family:'Segoe UI', Roboto, Helvetica, Arial, sans-serif;

    width:100%;
    min-height:100vh;

    overflow:hidden;
}


/* =========================
   PLAYER
========================= */

.app-container{

    width:100%;
    max-width:420px;

    height:100vh;

    margin:auto;

    padding:30px 20px;

    display:flex;
    flex-direction:column;

    align-items:center;

    justify-content:space-around;
}

/* =========================
   HIDDEN
========================= */

.hidden{
    display:none !important;
}

/* =========================
   HEADER
========================= */

.header-actions{
    width:100%;

    display:flex;

    justify-content:flex-end;
}

/* =========================
   INSTALL BUTTON
========================= */

#installBtn{

    background:#4a270f;

    color:#fff;

    border:none;

    padding:8px 18px;

    border-radius:20px;

    font-size:0.85rem;

    font-weight:bold;

    cursor:pointer;
}

/* =========================
   CASSETTE
========================= */

.cassette-box{

    width:100%;

    background:#121212;

    padding:15px;

    border-radius:40px;

    box-shadow:0 10px 30px rgba(255,122,0,0.1);
}

.cassette-box img{

    width:100%;

    display:block;

    border-radius:25px;
}

/* =========================
   INFO
========================= */

.info-section{
    text-align:center;
}

h2{

    font-size:1.8rem;

    margin-bottom:8px;

    letter-spacing:-0.5px;
}

.status{

    color:#00ff88;

    font-weight:bold;

    font-size:0.9rem;

    display:flex;

    align-items:center;

    justify-content:center;

    gap:8px;
}

/* =========================
   BUTTONS
========================= */

.pill-button{

    width:100%;

    max-width:320px;

    padding:16px;

    border-radius:50px;

    border:none;

    font-size:1rem;

    font-weight:bold;

    cursor:pointer;

    display:flex;

    align-items:center;

    justify-content:center;

    gap:12px;

    transition:transform 0.2s;
}

.pill-button:active{
    transform:scale(0.96);
}

/* =========================
   WHITE BUTTON
========================= */

.white-btn{

    background:#fff;

    color:#000;
}

/* =========================
   PINK BUTTON
========================= */

.pink-btn{

    background:#ff004c;

    color:#fff;

    width:50%;
}

/* =========================
   GOOGLE ICON
========================= */

.google-icon{
    width:20px;
}
