* { margin: 0; padding: 0; box-sizing: border-box; }
body { background-color: #000; color: white; font-family: sans-serif; display: flex; justify-content: center; min-height: 100vh; }
.app-container { width: 100%; max-width: 450px; padding: 20px; display: flex; flex-direction: column; align-items: center; }
.header { width: 100%; display: flex; justify-content: flex-end; margin-bottom: 20px; }
#installBtn { background: #5a2d0c; color: white; border: none; padding: 10px 20px; border-radius: 30px; font-size: 0.8rem; cursor: pointer; }
.cassette-box { background: #121212; padding: 20px; border-radius: 40px; width: 100%; margin-bottom: 20px; }
.cassette-box img { width: 100%; border-radius: 20px; }
h2 { font-size: 1.5rem; margin-bottom: 5px; }
.status { color: #00ff88; font-size: 0.9rem; margin-bottom: 25px; }
.pill-btn { width: 85%; padding: 15px; border-radius: 50px; border: none; font-weight: bold; margin-bottom: 15px; cursor: pointer; display: flex; align-items: center; justify-content: center; gap: 10px; }
.white-btn { background: white; color: black; }
.pink-btn { background: #ff004c; color: white; width: 45%; }
.hidden { display: none; }
#intro { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: black; display: flex; justify-content: center; align-items: center; z-index: 100; transition: 0.8s; }
#intro video { width: 100%; max-width: 500px; }
